body {
    background: -webkit-linear-gradient(0deg, black 22%, white 22%);
    width: 100%;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-bottom: 0px;
    display: inline-block;
}

h2{
  color: green;
  margin-left: 30%;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
    margin-top: 0px;
    color: blue;
}

li{
  color:green;
  margin-left: 25%;
}

footer{
  padding: 40px;
  background: black;
  text-align: center;
  bottom: 0;
}

a{
  color:white;
}


.description{
  margin-top: 75px;
  margin-left: 25%;
  width: 50%;
  color: green;
}


.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 10px;
  background-color: black; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 200px;
}

.whereWeGo{
  padding-top: 30px;
  margin-left: 30%;
  width: 50%;
  color: green;
}

.pictures{
  border-width: 5px;
  border-color: black;
  height: 100px;
  width: 100px;
  padding: 10px;
}

.picContainer{
  margin-left: 38%;
}

#contact{
  color: blue;
  text-decoration: underline;
}
#whereWeGo {
    color:green;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#description{
  color: green;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

#header {
    margin-top: 5%;
    background-color: darkgreen;
    color: white;
    padding-bottom: 15px;

}

#logo {
    margin-left: 25px;
    padding-bottom: 20px;
    padding-top: 10px;
}

#login{
  float: right;
  width: 200px;
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  margin-top: 30px;
}

.text_1 {
  animation: text1;
}

.text_2 {
  animation: text2;
}

.text_1 {
  margin-top: 10px;
  margin-left: 22%;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 15s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  color:green;
}

.text_2 {
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  animation-duration: 15s;
  animation-timing-function: steps(25, end);
  animation-iteration-count: infinite;
  color:green;
}


.text_1::after, .text_2::after {
  content: "|";
  position: absolute;
  right: 0;
  animation: caret infinite;
  animation-duration: 1s;
  animation-timing-function: steps(1, end);
  color:green;
}


@keyframes text2 {
  0%, 50%, 100% {
    width: 0;
  }
  
  60%, 90% {
    width: 12.2em;
  }
}

@keyframes text1 {
  0%, 50%, 100% {
    width: 0;
  }
  10%, 40% {
    width: 12.7em;
  }
}

@keyframes caret {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.clickedPic{
  height: 400px;
  width: 300px;
}
