body {
    background-image: url('./cloudbackground.jpg');
    background-size: cover;
  }

  h1{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      text-decoration: underline;
      margin-bottom: 0px;
  }

  h3{
      font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding-top: 0px;
      margin-top: 0px;
  }

  .header{
    margin-left: 100px;
    margin-top: 80px;
  }

  h2{
      font-style: italic;
  }

.currentProjects{
    margin-top: 100px;  
    margin-bottom: 75px;
}

.aboutMe{
    margin-top: 100px;
    margin-bottom: 75px;

}

.contactMe{
    margin-top: 100px;
    margin-bottom: 75px;
}

#email{
    color: blue;
    font-weight: bold;
    size: 25px;
    text-decoration: underline;
}

#phone{
    color: blue;
    size: 25px ;
    font-weight: bold;
    text-decoration: underline;
}

footer{
    text-align: center;
}
